body {
  font-family: var(--font-roboto-mono), monospace;
  background-color: #89A8B2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

div {
  width: 800px;
  font-size: large;
}

h1 {
  margin-bottom: 1.5em;
  color: #F1F0E8;
}

p {
  display: flex;
  align-items: center;
  gap: 1em;
  color: #F1F0E8;
}

p a{
  display: block;
}

a{
  text-decoration: none;
  color: #F1F0E8;
}

a:visited{
  color: #F1F0E8;
}

button {
  font-weight: bold;
  font-size: large;
  color: #F1F0E8;
  background-color: #FF8D43;
  border-radius: 0.5em;
}

button.delete:hover {
  opacity: 0.7;
}

div.button-container button {
  display: block;
}

button.add-contact {
  display: block;
  background-color: #66ad6c;
}

button.add-contact:hover {
  background-color: #c5c5c5;
}

div.button-container {
  display: flex;
  align-items: center;
}

span {
  font-weight: bold;
  color: #FFE6A9;
}

form {
  margin-bottom: 2em;
}

input {
  border-radius: 0.5em;
  background-color: #F1F0E8;
  color: #FCD855;
  padding: 0.5em;
  margin: 0.5em;
}

label {
  color: #FFE6A9;
}