a {
    text-decoration: none;
    color: #f1f0e8;
}

a:visited {
    color: #f1f0e8;
}

.add-contact {
    display: block;
    background-color: #66ad6c;
    box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.3);
}

.add-contact:hover {
    background-color: #c5c5c5;
}

button {
    font-weight: bold;
    font-size: large;
    color: #f1f0e8;
    background-color: #ff8d43;
    border-radius: 0.5em;
}

button.delete:hover {
    opacity: 0.7;
}

body {
    font-family: var(--font-roboto-mono), monospace;
    background-color: #89a8b2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

div {
    width: 800px;
    font-size: large;
}

div.button-container {
    display: flex;
    align-items: center;
    margin-top: 3em;
}

form .button-container {
    display: flex;
    align-items: center;
}

form button,
input[type="submit"] {
    margin-top: 0.5em;
}

h1 {
    margin-bottom: 1.5em;
    color: #f1f0e8;
}

input:not([type="submit"]) {
    border-radius: 0.5em;
    background-color: #f1f0e8;
    color: #b6951f;
    padding: 0.5em;
    margin: 0.5em;
}

input.add-contact {
    font-weight: bold;
    font-size: large;
    color: #f1f0e8;
    border-radius: 0.5em;
    padding: 0;
}

label {
    color: #ffe6a9;
}

p {
    display: flex;
    align-items: center;
    gap: 1em;
    color: #f1f0e8;
}

p a {
    display: block;
}

span {
    font-weight: bold;
    color: #ffe6a9;
}
